@import "../../custom.scss";

// Main content
.vc-content {
    //@extend .px-md-4;
    @extend .col-md-9;
    @extend .ml-sm-auto;
    @extend .col-lg-10;
    @extend .mx-0;
    @extend .px-0;
    @extend .d-md-flex;
    @extend .w-100;
    height: calc(100vh - 54px);
    &__blade {
        border-right: 1px #EAEDF3 solid;
        @extend .mx-0;
        @extend .px-0;
        @extend .overflow-hidden;
        @extend .w-50;
    }
}

@mixin button-icon {
    @extend .border-0;
    @extend .bg-transparent;
    color: $white;
}

.vc-content .blade-head {
    background: #465769;
}

.vc-content .blade-nav {
    background: #34414F;
    @extend .px-1;
}

.vc-content .blade-nav .menu__inline {
    list-style-type: none;
    @extend .d-flex;
    @extend .justify-content-end;
    @extend .py-1;
    @extend .my-0;
}

.vc-content .blade-nav .menu-item {
    @extend .px-0;
}

.vc-content .blade-nav .menu-item button {
    @include button-icon;
    @extend .d-block;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.vc-content .blade-nav .menu__inline .menu-item .menu-item__icon {
    color: $white;
    text-align: center !important;
}

//Blade Title
.vc-content .blade-t {
    @extend .py-2;
    @extend .px-1;
    @extend .d-flex;
    @extend .justify-content-start;
    &__h-text {
        @extend .pt-1;
    }
    &__ico {
        color: $white;
        font-size: 2.5rem;
        line-height: 2.5rem;
        @extend .px-3;
    }
    &__head {
        color: $white;
        line-height: 1.2;
        @extend .d-block;
    }
    &__subhead {
        color: $gray-500;
        line-height: 1.2;
        @extend .small;
        @extend .d-block;
    }
}

//Toolbar
.vc-content__blade .blade-head .blade-toolbar {
    border-top: 1px #6B7987 solid;
    @extend .pt-1;
}

.vc-content__blade .blade-head .blade-toolbar .menu__inline {
    list-style-type: none;
    @extend .d-flex;
    @extend .justify-content-start;
    @extend .py-1;
    @extend .px-2;
    @extend .my-0;
}

.vc-content__blade .blade-head .blade-toolbar .menu-btn {
    @include button-icon;
    @extend .d-block;
    cursor: pointer;
    padding: 0 10px;
    position: relative;
    text-align: center;
    &__ico {
        display: block;
        font-size: 1rem;
        margin: 0 0 3px;
    }
    &__text {
        display: block;
        font-size: 0.7rem;
    }
}
