@import "../../custom.scss";


// MIXINGS
@mixin button-icon {
    @extend .border-0;
    @extend .bg-transparent;
    color: $white;
}

@mixin row-border-bottom {
    border-bottom: 1px solid $content-border-color;
}


// Lists
.row-title {
    font-weight: 500;
}

.row-descr {
    //@extend .mt-1;
    color: $gray-500;
    font-size: 0.9rem;
}

// LIST - Divs
.vc-list {
    @extend .bg-white;
}

.vc-list-row {
    @include row-border-bottom;
    @extend .media;
    cursor: pointer;
    @extend .py-3;
    @extend .px-2;
    &:hover {
        background: #EFF7FC;
    }
    &__menu {
        color: $primary;
        font-size: 1.2rem;
        vertical-align: middle;
        @extend .py-1;
        @extend .px-2;
    }
    &__row-icon {
        font-size: 2rem;
        line-height: 1.7rem;
        color: $gray-500;
        vertical-align: middle;
        @extend .py-0;
        @extend .px-2;
    }
    &__text-container {
        vertical-align: middle;
        @extend .media-body;
        @extend .py-1;
        @extend .px-2;
    }
    &__end-row {
        color: $gray-500;
        @extend .pt-1;
        @extend .px-2;
    }
}

.vc-list-row__text-container .row-text {
    color: $gray-800;
    line-height: 1.5rem;
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .w-100;
}
