@import "../../custom.scss";


// Left Menu
// Left menu bar
.vc-main-menu {
    position: sticky;
    top: 0;
    height: calc(100vh - 54px);
    overflow-x: hidden;
    overflow-y: auto;
    @extend .d-flex;
    @extend .flex-column;
    @extend .py-1;
    @extend .bg-light;
    //@extend .col-md-3;
    @extend .col-lg-2;
    //@extend .col-md-auto;
    @extend .d-md-block;
    //max-width: 205px;
    flex: 0 0 205px;
    border-right: 1px $content-border-color solid;
    &__nav-pills {
        @extend .nav;
        @extend .nav-pills;
        @extend .flex-column;
        @extend .mb-auto;
    }
}

.vc-main-menu__nav-pills .vc-nav-link {
    color: $gray-900;
    border-radius: 0;
    @extend .nav-link;
    @extend .py-2;
    &:hover {
        color: $link-hover-color;
    }
    &__icon {
        @extend .px-1;
        @extend .py-2;
        font-size: $h5-font-size;
    }
}

.vc-main-menu__nav-pills .vc-nav-link-active {
    color: $gray-900;
    background-color: $active-item-bg;
    //border-radius: 0;
    @extend .nav-link;
    @extend .py-2;
    @extend .active;
    &__icon {
        @extend .px-1;
        @extend .py-2;
    }
}

.vc-main-menu__nav-pills .vc-nav-link-toggler {
    color: $primary !important;
    @extend .vc-nav-link;
    &__icon {
        @extend .px-1;
        @extend .py-2;
        font-size: $h5-font-size;
    }
}
