:root {
  --v-loading-bg-color: var(--additional-50);
  --v-loading-bg: rgb(from var(--v-loading-bg-color) r g b / 75%);
}

.v-loading {
  position: relative;
  cursor: wait;
}

.v-loading::before {
  content: "";
  position: absolute;
  z-index: var(--v-loading-z-index, 9998); /* Default to 9998 if not set */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--v-loading-bg);
  backdrop-filter: blur(3px);
}

.v-loading::after {
  content: "";
  position: absolute;
  z-index: calc(var(--v-loading-z-index, 9999) + 1); /* Default to 9999 + 1 if not set */
  width: 30px;
  height: 30px;
  border: 4px solid #319ed4;
  border-right-color: transparent;
  animation: 0.75s linear infinite v-loading;
  border-radius: 50%;
  top: calc(50% - 30px / 2);
  left: calc(50% - 30px / 2);
  display: inline-block;
}

@keyframes v-loading {
  to {
    transform: rotate(360deg);
  }
}
