@tailwind base;

@layer base {
  html,
  body,
  #app {
    @apply tw-font-roboto tw-h-full tw-w-full tw-m-0 tw-fixed tw-overflow-hidden tw-overscroll-y-none;
  }

  body {
    @apply tw-text-sm tw-text-[color:var(--base-text-color)];
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select,
textarea {
  @apply tw-font-roboto;
}
::-webkit-input-placeholder {
  @apply tw-font-roboto;
}
:-moz-placeholder {
  @apply tw-font-roboto;
}
::-moz-placeholder {
  @apply tw-font-roboto;
}
:-ms-input-placeholder {
  @apply tw-font-roboto;
}


@tailwind components;
@tailwind utilities;

@import './theme/colors.scss';

:root {
  --scroll-color: var(--primary-100);
  --scroll-color-hover: var(--primary-200);
  --scroll-width: 8px;
  --scroll-padding: 8px;
  --scroll-shadow-color: var(--additional-950)
  --scroll-shadow: 0 3px 2px rgb(from var(--scroll-shadow-color) r g b / 10%) inset, 0 -3px 2px rgb(from var(--scroll-shadow-color) r g b / 10%) inset;
}

* {
  &::-webkit-scrollbar {
    width: var(--scroll-width);
    height: var(--scroll-width);
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;

  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: calc(var(--scroll-width) / 2);
    overflow-x: hidden;
    background-clip: content-box;



    &:hover {
      background-color: var(--scroll-color-hover);
    }
  }
}
