// import the necessary Bootstrap files
@import "~/node_modules/bootstrap/scss/functions";
@import "~/node_modules/bootstrap/scss/variables";
// roboto fonts
@import '~/node_modules/@fontsource/roboto/scss/mixins';

$weights: (100, 300, 400, 500, 700, 900);
$styles: (italic, normal);

@each $weight in $weights {
  @each $style in $styles {
    @include fontFace($weight: $weight, $style: $style);
  }
}

@import './variables';
@import '~/node_modules/bootstrap/scss/bootstrap.scss';
@import '~/node_modules/bootstrap-vue/src/index.scss';



// Buttons
.btn-warning {
  color: $white;
  background-color: $warning;
  border-color: $warning;
  &:hover {
      color: $white;
      background: $btn-warning-hover;
      border-color: $btn-warning-hover;
  }
}

.btn-primary {
  color: $white;
  background-color: $primary;
  border-color: $primary;
  &:hover {
      background: $link-hover-color;
      border-color: $link-hover-color;
  }
}

.bg-dark {
  background: $gray-900 !important;
}

.text-end {
  text-align: right!important;
}

>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
