// import the necessary Bootstrap files
@import "~/node_modules/bootstrap/scss/functions";
@import "~/node_modules/bootstrap/scss/variables";
// roboto fonts
@import '~/node_modules/@fontsource/roboto/scss/mixins';

$weights: (100, 300, 400, 500, 700, 900);
$styles: (italic, normal);

@each $weight in $weights {
  @each $style in $styles {
    @include fontFace($weight: $weight, $style: $style);
  }
}

@import './variables';
@import '~/node_modules/bootstrap/scss/bootstrap.scss';


.link-dark {
    color: $gray-900;
}