$main-menu-border-color: #eaedf3;
$main-menu-width: 15rem;
$main-menu-collapsed-width: $font-size-base * 2 + $spacer * 2;

$widget-size: 7.5rem;
$widget-space: 0.625rem;

$blade-breakpoints: (xs, sm, md, lg, xl, xxl);

$blade-size-step: $widget-space + $widget-size;
$blade-size-minimal: $widget-size + $blade-size-step;

$blade-padding: 1.25rem;

$blade-sizes: ();
@each $blade-breakpoint in $blade-breakpoints {
  $blade-size: $blade-size-minimal + $blade-size-step * index($blade-breakpoints, $blade-breakpoint) + $blade-padding * 2;
  $blade-sizes: map-merge(
    $blade-sizes,
    (
      $blade-breakpoint: $blade-size,
    )
  );
}

$blade-header-bar-bg: rgba($black, 0.25);
$blade-header-bar-btn-width: 2.1875rem;
$blade-header-bar-btn-height: 1.5625rem;

$blade-subtitle-color: #bbb;
$blade-subtitle-font-size: 0.6875rem;